[Unit]
Description=Waybar status bar
PartOf=sway-session.target
# Starts when sway-session.target is active (custom lightweight target)


[Service]
ExecStart=/usr/bin/waybar
Restart=on-failure


[Install]
WantedBy=sway-session.target